//^ Imports

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital@0;1&display=swap');

//& Colors

color-dark = rgb(18,23,22)
color-dark-02 = rgb(43,51,48)
color-light = rgb(233,233,233)
color-main = rgb(4,176,116)
color-second = rgb(226,93,36)

color-dark-trans = rgba(4,176,116, 0.2)

//? Sizes

pd-xs = 6px
pd-sm = 10px
pd-md = 20px
pd-lg = 40px

//* Border Radius

br-sm = 4px
br-md = 8px

//~ Icon sizes

icon-xs = 16px
icon-sm = 24px
icon-md = 32px
icon-lg = 64px

set-size(size)
    height size
    width size